<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop Hoa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/shopflowerproject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <style>
        .max-height {
            height: 30px;
        }

        .navbar.fixed {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1030;
        }

        body {
            padding-top: 60px;
        }

        .nav-item.dropdown:hover .dropdown-menu {
            display: block;
        }

        .nav-item.dropdown:hover .nav-link {
            color: #000;

        }

        .box {
            height: 30px;
            display: flex;

            cursor: pointer;
            padding: 10px 20px;
            background: #FFF;
            border-radius: 30px;
            align-items: center;

        }

        .box:hover input {
            width: 400px;
        }

        .box input {
            width: 0;
            outline: none;
            border: none;
            font-weight: 500;
            transition: 0.8s;
            background: transparent;
        }

        .box a .fas {
            color: #1daf font-size: 18px;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="max-height"
                        src="https://drive.google.com/thumbnail?id=14u7A_cwcw5iCFlLALLXTFoekA1zQ9NXl&sz=w1000"
                        alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="AboutUs">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-area="" asp-controller="Flowers" asp-action="Flowers"
                                id="navbarDropdown" role="button" data-bs-toggle="" aria-expanded="false">
                                Flowers
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item"  asp-route-category="HT001" asp-controller="Flowers"
                                        asp-action="FlowersByCategory">Hoa Hồng</a></li>
                                <li><a class="dropdown-item" asp-route-category="HT002" asp-controller="Flowers"
                                        asp-action="FlowersByCategory">Hoa Cúc</a></li>
                                <li><a class="dropdown-item" asp-route-category="HT003" asp-controller="Flowers"
                                        asp-action="FlowersByCategory">Hoa Ly</a></li>
                                <li><a class="dropdown-item" asp-route-category="HT004" asp-controller="Flowers"
                                        asp-action="FlowersByCategory">Hoa Lan</a></li>
                                <li><a class="dropdown-item" asp-route-category="HT005" asp-controller="Flowers"
                                        asp-action="FlowersByCategory">Hoa Huớng Dương</a></li>
                                <li><a class="dropdown-item" asp-route-category="HT006" asp-controller="Flowers"
                                        asp-action="FlowersByCategory">Hoa Linh Lan</a></li>
                                <li><a class="dropdown-item" asp-route-category="HT007" asp-controller="Flowers"
                                        asp-action="FlowersByCategory">Hoa Cẩm Tú Cầu</a></li>
                                <li><a class="dropdown-item" asp-route-category="HT008" asp-controller="Flowers"
                                        asp-action="FlowersByCategory">Hoa Loa Kèn</a></li>
                                <li><a class="dropdown-item" asp-route-category="HT009" asp-controller="Flowers"
                                        asp-action="FlowersByCategory">Hoa Thiên Ðiểu</a></li>
                                <li><a class="dropdown-item" asp-route-category="HT010" asp-controller="Flowers"
                                        asp-action="FlowersByCategory">Hoa Cát Tuờng</a></li>
                                <li><a class="dropdown-item" asp-route-category="HT011" asp-controller="Flowers"
                                        asp-action="FlowersByCategory">Hoa Anh Ðào</a></li>
                                <li><a class="dropdown-item" asp-route-category="HT012" asp-controller="Flowers"
                                        asp-action="FlowersByCategory">Hoa Tulip</a></li>
                                <li><a class="dropdown-item" asp-route-category="HT013" asp-controller="Flowers"
                                        asp-action="FlowersByCategory">Hoa Tigon</a></li>
                                <li><a class="dropdown-item" asp-route-category="HT014" asp-controller="Flowers"
                                        asp-action="FlowersByCategory">Hoa Mẫu Ðơn</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-controller="Flowers" asp-action="Flowers"
                                id="navbarDropdown" role="button" data-bs-toggle="" aria-expanded="false">
                                Occasions
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-route-occasion="DMX123" asp-controller="Flowers"
                                        asp-action="FlowersByOccasion">Kỉ Niệm</a></li>
                                <li><a class="dropdown-item" asp-route-occasion="DMY456" asp-controller="Flowers"
                                        asp-action="FlowersByOccasion">Chia Buồn</a></li>
                                <li><a class="dropdown-item" asp-route-occasion="DMZ789" asp-controller="Flowers"
                                        asp-action="FlowersByOccasion">Chúc Mừng</a></li>
                                <li><a class="dropdown-item" asp-route-occasion="DMA321" asp-controller="Flowers"
                                        asp-action="FlowersByOccasion">Đám Cưới</a></li>
                                <li><a class="dropdown-item" asp-route-occasion="DMB654" asp-controller="Flowers"
                                        asp-action="FlowersByOccasion">Sinh Nhật</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="News">News</a>
                        </li>
                    </ul>
                    <div class="box m-1">
                        <input type="text" placeholder="Search...">
                        <a href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
        <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
            <div class="me-5">
                <span>Get connected with us on social networks:</span>
            </div>
            <div>
                <a href="https://www.facebook.com/profile.php?id=100011449100056" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="https://www.instagram.com/trong31_14/" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </section>
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Sang Trọng</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            Ở đây có tất cả loại hoa bạn cần
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Products</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="" class="text-white">Hoa Tặng Sinh Nhật</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Hoa Cưới</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Hoa Cầu Hôn</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Hoa Dịp Lễ</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                        <h6 class="text-uppercase fw-bold">Useful links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="https://www.facebook.com/profile.php?id=100011449100056"
                                class="text-white">Facebook</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Become an Affiliate</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Shipping Rates</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Help</a>
                        </p>
                    </div>


                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="fas fa-home mr-3"></i>Tân Phú,HCM City</p>
                        <p><i class="fas fa-envelope mr-3"></i> nguyensangtrong3114@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +84 379 723 024</p>
                        <p><i class="fas fa-print mr-3"></i> +84 379 723 024</p>
                    </div>

                </div>

            </div>
        </section>
    </footer <script src="~/lib/jquery/dist/jquery.min.js">
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>

</script>

</html>
