@{
    var username = Context.Session.GetString("username");
    var usernameCookie = Context.Request.Cookies["username"];
}
@if (string.IsNullOrEmpty(username) && string.IsNullOrEmpty(usernameCookie))
{
    <div class="d-flex">
        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-success">Đăng nhập</a>
    </div>
    <div class="d-flex">
        <a asp-controller="Account" asp-action="SignUp" class="btn btn-outline-primary">Đăng Kí</a>
    </div>
}
else
{
    <div class="d-flex align-items-center">
        <a asp-area="User" asp-controller="HomeUser" asp-action="Index"
            class="btn btn-outline-success pdr-5 m-1">@(@usernameCookie ?? @username)</a>
        <a asp-area="" asp-controller="Account" asp-action="LogOut" class="btn btn-outline-primary ml-3">Log Out</a>
        <form class="d-flex">
            <button class="btn m-1" type="submit">
                <i class="fa-solid fa-cart-shopping"></i>
                Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
            </button>
        </form>
    </div>
}
