@{
    ViewData["Title"] = "Home Page";
}
<style>
    .w1000 {
        width: 1000px;

    }

    .img {
        background-image: url('https://longphutravel.com/uploads/articles/nhung-canh-dong-hoa-ruc-ro-the-gioi/nhung-canh-dong-hoa-ruc-ro-nhat-the-gioi-longphutourist.com-01.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<div class="container p-2 w-100">
    <div class="Banner d-flex align-content-center justify-content-around">
        <img src="https://drive.google.com/thumbnail?id=1Xm47ruMnYq7RIvRz3Q-wGH_yHnQezgqT" alt="Banner"
            class="w1000 img-thumbnail">
    </div>
    <div class="text-center p-3">
        <h1>Hot Product</h1>
    </div>
    <div class="hot-product d-flex justify-content-center w-100 align-items-center">
        <div class="row">
            <div class="col-md-3 col-sm-6 m-4">
                <div class="text-center">
                    <img src="https://hoayeuthuong.com/hinh-hoa-tuoi/thumb/bo-hoa-tuoi/15296_cam-tu-cau-va-em.jpg"
                        alt="Say You Do" class="img-fluid">
                </div>
                <div class="Details-flower text-center">
                    <h5>Say You Do</h5>
                    <p>200.000 đ</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 m-4">
                <div class="text-center">
                    <img src="https://hoayeuthuong.com/hinh-hoa-tuoi/thumb/hoa-khuyen-mai/14434_ngay-co-nang.jpg"
                        alt="Say You Do" class="img-fluid">
                </div>
                <div class="Details-flower text-center">
                    <h5>Say You Do</h5>
                    <p>200.000 đ</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 m-4">
                <div class="text-center">
                    <img src="https://hoayeuthuong.com/hinh-hoa-tuoi/thumb/hoa-khuyen-mai/15327_forever-yours.jpg"
                        alt="Say You Do" class="img-fluid">
                </div>
                <div class="Details-flower text-center">
                    <h5>Say You Do</h5>
                    <p>200.000 đ</p>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
    <div class="text-center mt-4">
        <a class="btn btn-outline-primary">Xem Thêm</a>
    </div>
</div>
<div>
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center img">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">Welcome To Our Shop</h1>
                    <p class="fs-4 text-blue">Cửa hàng bán hoa tươi của chúng tôi cung cấp đa dạng các loại hoa với thiết kế tinh tế, dịch vụ giao hàng nhanh chóng và tiện lợi, giúp bạn dễ dàng gửi gắm thông điệp yêu thương đến người thân yêu.</p>
                    <a class="btn btn-primary btn-lg" href="#!">Xem Sản Phẩm</a>
                </div>
            </div>
        </div>
    </header>
    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="bi bi-collection"></i></div>
                            <h2 class="fs-4 fw-bold">Free Ship</h2><i class="fa-solid fa-truck"></i>
                            <p class="mb-0">Miễn phí giao hàng toàn quốc khi đặt từ 2 sản phẩm trở lên</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="bi bi-cloud-download"></i></div>
                            <h2 class="fs-4 fw-bold">100% Fresh Flowers</h2><i class="fa-solid fa-check"></i>
                            <p class="mb-0">Đảm bảo chất lượng hoa trong tình trạng tốt nhất</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="bi bi-card-heading"></i></div>
                            <h2 class="fs-4 fw-bold">Fast Ship</h2><i class="fa-solid fa-truck-fast"></i>
                            <p class="mb-0">Nhận hàng trong ngày</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="bi bi-bootstrap"></i></div>
                            <h2 class="fs-4 fw-bold">Free Gift</h2><i class="fa-solid fa-gift"></i>
                            <p class="mb-0">Nhận một món quà ngẫu nhiên và 1 thiệp cảm ơn tự tiệm </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="bi bi-code"></i></div>
                            <h2 class="fs-4 fw-bold">Discount 10%</h2><i class="fa-solid fa-tag"></i>
                            <p class="mb-0">Giảm 10% cho khách hàng khi đăng kí thẻ thành viên</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="bi bi-patch-check"></i></div>
                            <h2 class="fs-4 fw-bold">24/24 Service</h2><i class="fa-solid fa-message"></i>
                            <p class="mb-0">Phục Vụ Tư Vấn 24/24
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>