@{
    ViewData["Title"] = "News";
}

<style>
    .news-item {
        border: 1px solid #007bff;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 8px;
    }

    .hot-news {
        background-color: #ffecb3;
        border-color: #f57c00;
    }
</style>
<body>

    <div class="container mt-5">
        <div class="row">

            <div class="col-md-8">
                <h3 class="text-center">Thông Tin Hot</h3>
                <div class="news-item hot-news">
                    <img src="https://allieflower.com/thumbnail/540x540x1/upload/product/94a503f5-1a13-402a-a2a7-741d8c069e83-1059.jpeg" alt="">
                    <h5>Thông Tin Hot</h5>
                    <p>Nội dung cho thông tin hot. Đây là thông tin quan trọng nhất.</p>
                    <a class="btn btn-outline-info">Xem Thêm</a>
                </div>
            </div>


            <div class="col-md-4">
                <h3 class="text-center">Thông Tin Hot</h3>
                <div class="news-item">
                    <h5>Thông Tin 1</h5>
                    <p>Nội dung cho thông tin bình thường 1.</p>
                    <a class="btn btn-outline-info">Xem Thêm</a>
                </div>
                <div class="news-item">
                    <h5>Thông Tin 2</h5>
                    <p>Nội dung cho thông tin bình thường 2.</p>
                    <a class="btn btn-outline-info">Xem Thêm</a>
                </div>
                <div class="news-item">
                    <h5>Thông Tin 3</h5>
                    <p>Nội dung cho thông tin bình thường 3.</p>
                    <a class="btn btn-outline-info">Xem Thêm</a>
                </div>
            </div>
        </div>
    </div>
</body>