<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop Hoa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/shopflowerproject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<style>
    .bdr-3 {
        border-radius: 30px;
    }

    .max-height {
        height: 30px;
    }
</style>
<body class="" id="">
    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon">
                    <img class="max-height bdr-3"
                        src="https://drive.google.com/thumbnail?id=14u7A_cwcw5iCFlLALLXTFoekA1zQ9NXl&sz=w1000" alt="">
                </div>
                <div class="sidebar-brand-text mx-3">Dash Board</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Overview</span></a>
            </li>

            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Manage
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                    <a class="nav-link collapsed" href="/admin/users">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Users</span>
                    </a>
                    <a class="nav-link collapsed" href="/admin/flowers">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Flowers</span>
                    </a>
            </li>
            <!-- Divider -->


            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="HomeAdmin" asp-action="Charts">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle">
                </button>
            </div>


        </ul>
        @RenderBody()
    </div>
</body>
<footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
</footer <script src="~/lib/jquery/dist/jquery.min.js">
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)